/*Html value for sticky footer*/


html {
  height: 100%;
}



/*Box element property*/

*, 
*::before, 
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


/*Defauly body properties*/

body {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0;
  font-family: "Gotham Pro", Arial, sans-serif;
  background-color: var(--main-bg);
  overflow-x: hidden !important;
}


/*Default image properties*/

img {
  display: block;
  height: auto;
}


.site-main {
  flex-grow: 1;
}

.primary {
  background: url("../../images/png/herobg.png") no-repeat calc(50% + 400px) top;
}

@media only screen and (max-width: 450px) {
  .primary {
    background: url("../../images/png/herobg.png") no-repeat calc(50%) bottom;
    background-size: contain;
  }
}

@media only screen and (min-width: 2400px) {
  .primary {
    background: url("../../images/png/herobg.png") no-repeat calc(50% + 750px) bottom;
  }
}
