@use "../mixins" as mx;

@media only screen {
    .site-header {
        padding-top: 15px;
        padding-bottom: 16px;
        background-image: linear-gradient(90deg, #9e0b37 0.98%, #ffc531 72.22%, #9e0b37 99.95%);
    }

    .site-header__wrapper {
        @include mx.flexbox(row, center, space-between);
    }

    .site-header__list {
        @include mx.list-unstyled;
        @include mx.flexbox(row, center, center); 
        gap: 72px;
    }

    .site-header__link {
        @include mx.flexbox(row, center, center);
        gap: 12px; 
        @include mx.typography(Abel, 400, 16px, normal, center, var(--main-txt-color));
        text-decoration: none;
    }

    .active {
        font-family: "Gotham Pro";
    }

    .active::after {
        content: '';
        @include mx.flexbox(row, center, center); 
        width: 5px;
        height: 12px;
        background: url("../../images/svg/rtarr.svg") no-repeat center;
    }

    .site-header__btn-group {
        @include mx.flexbox(row, center, center);
        gap: 42px;
    }

    .site-header__btn {
        @include mx.typography(inherit, 400, 16px, normal, center, var(--main-txt-color));
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: transform 0.2s ease; 

        &:active {
            transform: scale(0.95);
        }
    }

    .sign-up-btn {
        min-width: 160px;
        padding-top: 16px;
        padding-bottom: 16px;
        border-radius: 40px;
        background-color: rgba(158, 11, 55, 0.70);
        box-shadow: 4px 4px 6px 0px rgba(255, 255, 255, 0.50) inset, 4px 4px 20px 0px rgba(223, 80, 23, 0.80);
    }

    .site-header__bar-btn {
        display: none;
    }

    .hidden-link {
        display: none;
    }

    .site-header__close-btn {
        display: none;
    }
}


@media only screen and (max-width: 768px) {

    .site-header__nav {
        position: absolute;
        right: -100vw;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1;
    }

    .site-header__list {
        margin-top: 80px;
        @include mx.flexbox(column, center, center);
        gap: 35px;
    }

    .site-header__link {
        font-size: 22px;
    }

    .site-header__btn-group {
        position: absolute;
        bottom: 25%;
        right: -100vw;
        width: 100vw;
        flex-direction: column;
        align-items:center;
        z-index: 5;
    }

    .site-header__bar-btn, 
    .site-header__close-btn {
        border: none;
        background-color: transparent;
        @include mx.flexbox(row, center, center);
        width: 40px;
        height: 40px;
        background: url("../../images/svg/bar.svg") no-repeat center;
        background-size: 40px;
        transition: transform 0.2s ease;
        cursor: pointer;
        &:active {
            transform: scale(0.95);
        }
        
    }

    .site-header__close-btn {
        position: absolute;
        top: 16px;
        right: 16px;
        background: url("../../images/svg/close.svg") no-repeat center;
        background-size: 35px;
        opacity: 0.8;
    }

    .hidden-item {
        display: none;
    }

    .hidden-link {
        display: inline-flex;
    }
    
}

@media only screen and (max-width: 375px) {

}
